@charset "UTF-8";
@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(fontes/BebasNeue-Regular.ttf);
    font-weight: 400;
}

:root {
    --cor0:#84e1ad;
    --cor1:#195B38;
    --cor2:rgba(0, 0, 0, 0.459);
    --cor3:rgb(255, 255, 255);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif; 
    --fonte-idroid: 'idroid', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    background-image: linear-gradient(to top, #1A2A6C, #B21F1F);
    height: 300px;
    font-family: var(--fonte-destaque);
}

body {
    background-color: #0F172A;
}

main {
    background-color: white;
    max-width: 800px;
    margin: auto;
}